#mb-poi-search-view
{
    position: fixed;
    left: 50px;
    top: 30px;
    width: 600px;
    height: 30px;

    .search
    {
        display: inline-block;
        border: none;
        width: 600px;
        height: 30px;
    }
}
